@font-face {
  font-family: Oswald;
  src: url("font/static/Oswald-Regular.ttf"); }


body {
	font-family: Oswald;
  margin: 0 auto;
  background: #fff;
  font-size: 4vw;
}
header {
  background: #FFF;
  text-align: center;
  display: flex;
  justify-content: center;
}
header img {
  width: 10vw;
  height: 5%;
  margin: 2vw;
}
nav {
  display: flex;
  background: #fff;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  top: 0;
  color: #000;
  padding: 0vw 2vw;
  box-shadow: 0px 4px 10px #aaa ;
  margin: 0;
	border:0; 
}
nav h1 {
  margin: 1vw auto;
	cursor: pointer;
}
nav ul {
  display: none;
  list-style: none;
  position: absolute;
  background: #fff;
  padding: 5vw 0vw 5vw 10vw;
  width: 50vw;
  top: 5.8vw;
  left: 0;
  border-radius: 1vw;
  box-shadow: 0px 3px 10px #aaa;
}
nav ul li {
  margin: 1vw 0;
	cursor: pointer;

}
nav ul li:hover {
  text-shadow: 0px 2px 15px #aaa;
}
nav button:focus + ul {
  display: block;
}
nav button:focus {
  pointer-events: none;
}
nav button {
  font-size: 8vw;
  background: #fff;
  border: 0px;
  float: left;
}
nav button:active + ul {
  display: block;
}

h1{
	text-align: center;
}

main {
	padding: 2vw;
	box-shadow: 0px 0px 40px #444444;
	border-radius: 10px;
	  background: #F2F4FF;

}

main h2 {
	text-align: center;
}
main>div {
	width: 60vw;
	margin: 3vw auto;
	background: #EDEDED;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 2px #444444;
}

main>a>img {
	width: 80vw;
	margin: auto;
	height: auto;
	box-shadow: 0px 0px 10px 5px #000;
	cursor: pointer;
}
main>a{
	margin: 10vw auto;
}

#illus_page {
	width: 90vw;
	margin: auto;
	display: grid;
	align-content: center;
	align-items: center;

}
video{
	width:90vw;
	margin: auto;
		box-shadow: 0px 0px 10px 5px #000;

}

.link_to {
  display: block;
  width: 60vw;
  height: 60vw;
  margin: auto;
	cursor: pointer;
	  transition: 0.5s ease;
  background-size: 100% 100%;

}

.link_to:hover {
	transform: scale(1.3);
	  background-size: 100% 100%;

}

.web_dev {
  background: url("qr/Webapp.png") no-repeat;
	  background-size: 100% 100%;

}
.web_dev:hover {
  background: url("img/games.png");
	  background-size: 100% 100%;

}
.mobile_app {
  background: url("img/coming soon.png") no-repeat;
	  background-size: 100% 100%;

}
.mobile_app:hover {
  background: url("img/coming soon.png");
	  background-size: 100% 100%;

}

.appdes {
  background: url("qr/appdesign.png") no-repeat;
	  background-size: 100% 100%;

}
.appdes:hover {
  background: url("img/illusba.png");
	  background-size: 100% 100%;

}

.illus {
  background: url("qr/illus.png") no-repeat;
	  background-size: 100% 100%;

}
.illus:hover {
  background: url("img/illusba.png");
	  background-size: 100% 100%;

}
.hunger {
  background: url("/") no-repeat;
	  background-size: 100% 100%;

}
.hunger:hover {
  background: url("img/games.png");
	  background-size: 100% 100%;

}
.cv {
  background: url("qr/cv.png") no-repeat;
	  background-size: 100% 100%;

}
.cv:hover {
  background: url("CYMERA_20150407_114119.jpg");
	  background-size: 100% 100%;

}

.ekorre {
  background: url("qr/ekorre.png") no-repeat;
	  background-size: 100% 100%;

}
.ekorre:hover {
  background: url("img/ekkore.png");
	  background-size: 100% 100%;

}

.TheHangMan {
  background: url("qr/hang man.png") no-repeat;
	  background-size: 100% 100%;

}
.TheHangMan:hover {
  background: url("img/hangman.png");
	  background-size: 100% 100%;

}

.Tssss {
  background: url("qr/tssss.png") no-repeat;
	  background-size: 100% 100%;

}
.Tssss:hover {
  background: url("img/snake.png");
	  background-size: 100% 100%;

}

.Balloon {
  background: url("qr/ballon.png") no-repeat;
	  background-size: 100% 100%;

}
.Balloon:hover {
  background: url("img/ballon.png");
	  background-size: 100% 100%;

}

.GYM {
  background: url("qr/Exam15Hour gym.png") no-repeat;
	  background-size: 100% 100%;

}
.GYM:hover {
  background: url("img/gym.png");
	  background-size: 100% 100%;

}

.Guess {
  background: url("qr/guess it.png") no-repeat;
	  background-size: 100% 100%;

}
.Guess:hover {
  background: url("img/guess.png");
	  background-size: 100% 100%;

}
.Bucket_list {
  background: url("qr/bucketlist com web.png") no-repeat;
	  background-size: 100% 100%;

}
.Bucket_list:hover {
  background: url("img/bucketlist.png");
	  background-size: 100% 100%;

}
.Caffe_shop {
  background: url("qr/Caffeshop.png") no-repeat;
	  background-size: 100% 100%;

}
.Caffe_shop:hover {
  background: url("img/caffeshop.png");
	  background-size: 100% 100%;

}

.near_meal {
  background: url("qr/nearmeal.png") no-repeat;
	  background-size: 100% 100%;

}
.near_meal:hover {
  background: url("design/logoUI.png");
	  background-size: 100% 100%;

}
.crypto_save {
  background: url("qr/cryptosave.png") no-repeat;
	  background-size: 100% 100%;

}
.crypto_save:hover {
  background: url("design/crypto save logo.png");
	  background-size: 100% 100%;

}
@media (min-width:415px) {
  body {
    font-size: 1.9vw;
  }
  header img {
    width: 5vw;
    margin: 0 1vw;
  }
  nav {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  nav h1 {
    margin: 0;
    padding: 1vw 0;
  }
  nav button {
    display: none;
  }
  nav ul {
    display: flex;
    position: inherit;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    padding: 0;
    width: auto;
    top: 0;
    left: 0;
    border-radius: 0vw;
    box-shadow: 0px 0px 0px #aaa;
    margin: 0;
  }
  nav ul li {
    margin: 0vw 1vw;
  }
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  main > div {
    width: 40vw;
  }
  .link_to {
    width: 40vw;
    height: 40vw;
  }

main>a>img {
	width: 40vw;
}
main>a{
	margin: 5vw auto;
}
	video{
	width:40vw;
	margin: auto;
}

#illus_page {
	grid-template-columns: 40vw 40vw;
}
}
@media (min-width:769px) {
  body {
  }
  main {
    margin: 3vw auto;
    font-size: 1vw;
  }
  main > div {
    width: 20vw;
  
  }
		main>img {
	width: 25vw;
	margin: 3vw;		
}

  .link_to {
    width: 20vw;
    height: 20vw;
  }
	video{
	width:25vw;
	margin: auto;
}
	main>a>img {
	width: 25vw;
}
main>a{
	margin: 5vw auto;
}

#illus_page {
	grid-template-columns: 30vw 30vw 30vw;
}
	main>a>img:hover {
	transform: scale(1.5);
		box-shadow: 0px 0px 100px 150px #000;
background: #fff;
  transition: 0.5s ease;
	

}


}
@media (min-width:1201px) {
  body {
    font-size: 22.8px;
  }
	nav {
		
	}

  main {
    margin: 36px auto;
    font-size: 12px;
    width: 1200px;
  }
  main > div {
	
    width: 240px;
	  margin: 30px 10px;
  }
			main>img {
	width: 300px;
	margin: 36px;		
}

  .link_to {
    width: 240px;
    height: 240px;
  }
}